#gmail-contact {
    max-height: 2.5vw;
    bottom: 5%;
    position: absolute;
}

#linkedin-contact {
    margin-left: 10%;
    width: 3vw;
    bottom: 5%;
    height: auto;
    position: absolute;
}

#github-contact {
    width: 4vw;
    height: auto;
    bottom: 3.5%;
    margin-left: 19%;
    position: absolute;
}

#github-project {
    width: 40px;
    height: auto;
}

.contact-icon {
    opacity: 0.7;
}
.contact-icon:hover {
    opacity: 1;
}


@media only screen and (max-width: 420px) {
    #gmail-contact {
        bottom: 25%;
        max-height: 3vw;
    }
    #github-contact {
        bottom: 24%;
        width: 5vw;
        margin-left: 20%;
    }
    #linkedin-contact {
        width: 4vw;
        bottom: 24.75%;
    }
}