/* projects styling */

.project-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10vh;
    column-gap: 10vh;
    margin-top: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
}

.project-img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom: 0.01em solid #e5e5e5;
}

#Global\ Directory\ Filtered\ Export-img {
    opacity: 0.85;
}

#Multi-threaded\ Database-img {
    object-fit: fill;
}

.project-card-title {
    font-weight: 600;
    font-size: 2vw;
    margin-bottom: 0 !important;
}

.card {
    border: 0.1rem solid #403e3e;
}

.project-card {
    font-family: 'Lato';
    height: 100%;
    min-width: 270px;
    /* creating 3d effect */
    --c: #03051e; /* the color #1095c1 #596e79 #03051e #213458*/  
    --b: .015em;    /* border length*/
    --d: 20px;    /* the cube depth */
    
    transform: translate(calc(var(--d)/-1),var(--d));
    transition: 0.5s;
    border-radius: 20px;
    
    /* for 3d effect */
    /* --_s: calc(var(--d) + var(--b));
    background-color: var(--c);
    border: solid #0000;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    border-radius: 0.5rem;

    background:
        conic-gradient(at left var(--d)  bottom var(--d),
        #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
        conic-gradient(at left var(--_s) bottom var(--_s),
        #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    
    clip-path: 
        polygon(
        var(--d) 0%, 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)),
        100% calc(100% - var(--d)),
        var(--d) calc(100% - var(--d))
        ); */
}

.project-card:hover {
    transform: translate(0,0);

    /* 3d shape */
    /* clip-path: 
        polygon(
        0% var(--d), 
        var(--d) 0%, 
        100% 0%, 
        100% calc(100% - var(--d)), 
        calc(100% - var(--d)) 100%, 
        0% 100%
        ); */
    
    /* box shadow */
    box-shadow: -20px 20px  rgb(94, 97, 156); /*rgb(74, 80, 197)*/
}

.project-card-body {
    padding: 2rem;
    font-size: 1.2vw;
    background-color: white;
    border-radius: 20px;
}

.project-card-tag-group {
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.project-card-tag {
    background-color: #382369;
    font-size: calc(10px + 0.5vw);
    color: white;
    border-radius: 0.5rem;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 1vw;
    padding-bottom: 0.1rem;
}

.project-card-title {
    font-size:calc(15px + 1vw);
}

.project-card-title-and-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3rem;
}

#project-card-description {
    font-size:calc(12px + 0.5vw);
}

@media only screen and (max-width: 420px) {
    [class*="project-img"] {
        max-height: 200px;
    }

    [class*="project-section"] {
        padding-top: 0px;
        row-gap: 5vw;
    }

    #project-card-github-restricted {
        font-size: 15px;
    }

    .project-card:hover {
        box-shadow: -17px 17px  rgb(94, 97, 156);
    }
}
